body{
	background: url("https://i.imgur.com/p3eUiSI.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

textarea{
	margin: 0px;
	padding: 1px;
}

html {
  scroll-behavior: smooth;
}

a, a:hover {
	color: red;
}

h1,h5{
	padding-top: 105px;
	text-align: center;
}
h3, h4{
	text-align: center;
}
h1{
	font-size: 100px;
	color: tan;
}
h5{
	padding-top: 0px;
	font-size: 35px;
	color: gray;
	
}


header{
	padding-bottom: 480px;
	
	background-size: cover;
}
.title{
	border: 5px solid tan;
	padding-bottom: 65px;
	color: black;
}
button{
	border: none;
	padding: 5px;
	margin-top: 5px;
	margin-left: 5px;
	display: flex;
	justify-content: center;
}
ul{
	display: flex;
	justify-content: center;
	list-style: none;
}
.btnn{
	background-color: white;
	border-radius: 1px;
	font-size: 150%;
	color: black;
}

.btnn{
	text-align: center;
	width: 30%;
	display: block;
}
.contactMe{
	padding-top:50px; 
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}
.portfolio{
	
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10em;

}
.aboutMe{
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 25em;
	margin-bottom: 20em;
	
}	

.chat{
	padding-bottom: 15px;
}
.about{
padding-top: 4%;
}
i{
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 30px;
	color: red;
}
.form{
	margin-left: 40%;
	font-size: 70%;
}

.submit{
	display: initial;
}
p, h3{
	background: rgba(255,255,255,.8);
	
}

label, input, textarea{
	display: block;
}
.contactForm, input, textarea, label{
	display: block;
	text-align: center;
}
.phorm{
	display: inline-block;
}

img{
	padding: 25px;
	height: 57%;
	width: 48%;
	float: left;
	

}
.contactForm{
	margin-top: 20em;
}

.splt{
	padding-top: 27em;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

