@media screen and (min-width: 500px) and (max-width:5000px) {
body{
	font-family: 'Corben', cursive;
	font-size: 100%;
}

.body{
	font-family: 'Corben', cursive;
	background: url(https://i.imgur.com/sUmDn4G.jpg);
	background-size: cover;
}
.homeBody{
	background: url(https://i.imgur.com/2ntBjrq.jpg);
	
}

a:hover{
	color: #ffe700;
	text-decoration: none;
}

.title{
text-align: center;
padding-top: 17%;
padding-bottom: 20%;	
font-size: 150%;
color: pink;

}
.main_link:hover{
padding: 7px;
border: 5px solid black;
}
.main_link{
text-decoration: none;
color: #ffe700;
font-size: 160%;
}

i{
	font-size: 170%;
	color: #ffc107;
	padding-left: 2px;
	padding-right: 2px;
}

a{
	color: pink;
}

h5{
	color: black;
}


p{
	font-family: 'Roboto', sans-serif;



}

label, input, textarea{
	display: block;
}
.contactForm, input, textarea, label{
	display: block;
	text-align: center;
}
.phorm{
	display: inline-block;
}

.contactForm{
	margin-top: 10em;
}

.name{
	color: black;
}
.social{
	text-align: center;
	padding-top: 5%;
}
.navbar-brand:hover{
	font-size: 130%;
}


.main{
background: url(https://i.imgur.com/DuktQxm.jpg);
background-size: cover;
}
.aboutMe, .splt, .portfolio {
    padding: 110px 40px 70px 20px;
    max-width: 100%;
    display: flex;
}
    .me, .mePic {
        width: 250px;
        height: 250px;
        object-fit: contain;
        align-self: center;
        border-radius: 500em;
        border: 12px solid pink;
    
    }
    .about {
        flex: 1 1 auto;
        font-size: 100%;
        padding-left: 20px;
        align-self: center;
    }

   .subtitle{
	align-self: center;
	padding-right: 10px;
}
.aboutMe{
	background: rgba(255,189,37);
}
.subtitle{
	text-align: center;
	padding-top: 20px;
}

}

@media screen and (min-width: 0px) and (max-width: 500px){
.mePic{
	display: none;
}

a{
	font-size: 300%
}
}
